body {
    color: #8f8f8f;
    font: 12px Tahoma, sans-serif;
    background-color: #f8f8f8;
    border-top: 5px solid #7e7e7e;
    margin: 0;
}
input[type="text"] {
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    height: 30px;
    color: #b2b2b2;
    padding: 0 10px;
    vertical-align: top;
}
button {
    color: #fff;
    background-color: #29c5e6;
    border: none;
    height: 32px;
    font-family: 'Oswald', sans-serif;
}
p {
    margin: 20px 0;
}

#wrapper {
    max-width: 960px;
    margin: auto;
}
header {
    padding: 20px 0;
}

form[name="search"] {
    float: right;
}

nav a {
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-position: inside;
    font: 14px 'Oswald', sans-serif;
    padding: 10px;
}

.top-menu li {
    display: inline-block;
    padding: 10px 30px;
    margin: 0;
}

.top-menu li.active {
    background: #29c5e6;
    color: #fff;
}

.top-menu a {
    color: #b2b2b2;
}



#heading {
    background: transparent url(https://3.downloader.disk.yandex.ru/disk/f3fc0034f37ac2ae8644fc84d35891928d75c161085eb86fdfae14e3f44ec6c8/5706b5bb/ob8wBPa-e-070cRBF1gn9khIpmoqKS0eoKssvA_iuzCFZ_elc298bJD2iruG6huCOJ_ncK7mAEuhRopYIDtaPQ%3D%3D?uid=0&filename=button-7636.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&fsize=2014&hid=11cb913b8e466b1f3317052d4521d7f1&media_type=image&tknv=v2&etag=b812629b7a8d7526cd6f0a50e976a835);
    margin: 30px 0;
    padding-left: 20px;
}

h1 {
    display: inline-block;
    color: #7e7e7e;
    font: 40px/40px 'Oswald', sans-serif;
    background: url(https://3.downloader.disk.yandex.ru/disk/f3fc0034f37ac2ae8644fc84d35891928d75c161085eb86fdfae14e3f44ec6c8/5706b5bb/ob8wBPa-e-070cRBF1gn9khIpmoqKS0eoKssvA_iuzCFZ_elc298bJD2iruG6huCOJ_ncK7mAEuhRopYIDtaPQ%3D%3D?uid=0&filename=button-7636.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&fsize=2014&hid=11cb913b8e466b1f3317052d4521d7f1&media_type=image&tknv=v2&etag=b812629b7a8d7526cd6f0a50e976a835);
    margin: 0;
    padding: 0 10px;
}