html, body{
    height: 100%;
}

body{
    font: 14px/1.5 'PT Sans', Arial, Helvetica, sans-serif;
    color:#333;
}
h1{
    font-size: 2em;
}
.clear{
    *zoom:1;
}
.clear:before, .clear:after{
    content:'';
    display:table;
    line-height: 0;
}
.clear:after{
    clear:both;
}
.wrapper{
    width: 50%;
    min-width: 670px;
    margin: 50px auto;
}
#form-fields-container{
    border:1px solid #e3e3e3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 20px;
}

#submit-container{
    background: #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 7px;
    height: 21px;
    padding: 10px 20px;
}
ul{
    margin-bottom: 33px;
}
ul li{
    list-style-type: none;
    margin-bottom: 10px;
    font-weight: bold;
    height: 24px;
}
input{
    width: 213px;
    height: 22px;
    border:1px solid #C1C1C1;
    padding: 0 5px;
    vertical-align: middle;
    line-height: 1.5;
}
label{
    display: inline-block;
    vertical-align: middle;
    width: 82px;
}
.check, .not-check{

    display: inline-block;
    vertical-align: bottom;
    vertical-align: middle;
    height: 24px;
    width: 200px;
}
.check{
    background: url(https://zima37d.storage.yandex.net/rdisk/43b654b116d70259f1ec4bd7f593f3b783482ddd47359695391703aad394c2a9/inf/NMZdKZsMw_UQeLUI0hzkKHzu6mKig9NbHhtrbykuJaTCUr43W-RG-J5-RTpG9kEn6ccczB2lN7hqwdoT264FYQ==?uid=0&filename=check.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&tknv=v2&rtoken=5a3df8c25a357b02b0c30e201079cfaa&force_default=no) left center no-repeat;
}
.not-check{
    text-indent: 24px;
    color:red;
    background: url(https://zima43e.storage.yandex.net/rdisk/06824d76c9ccbfdd53947ddeda7ff578bb717b39af501983f481853160993d3a/inf/IqFA8T5yC1WwbDyGXMbXAzJwOZUsTeJMJan3Nvpzqbam_8I5o__dUYMeHFbLrRcGYLBW9wgiqJn2rG3g9pASHA==?uid=0&filename=not-check.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&tknv=v2&rtoken=5a3df8c25a357b02b0c30e201079cfaa&force_default=no) left center no-repeat;
}
.capcha label{
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

.capcha img{
    float: left;
}
.capcha input{
    margin-left: 24px;
}
#submit{
    height: 50px;
    width: 220px;
    outline: none;
    cursor: pointer;
    border:none;
    padding: 0 !important;
    margin: 0 82px;
    background: url(https://1.downloader.disk.yandex.ru/disk/176250af36292e4dedf5d266e85b3ca53f2c7a0ebb4e98f22ff24c2e395c274d/57079203/iXMe5V7I6KM1gQfmNMTN2UHcEYLhwNyd4vW2degsSfYHfh1vdgchLr9MFS07zudSLCSrueR-ZsEno7B6imy6jw%3D%3D?uid=0&filename=button-3445.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&fsize=1984&hid=bdaccd91913f0a6b119d75bdb4ab812b&media_type=image&tknv=v2&etag=5a9da23e40a916474175c6a880733b62=no) no-repeat;
}
#submit2{
    height: 50px;
    width: 200px;
    outline: none;
    cursor: pointer;
    border:none;
    padding: 0 !important;
    margin: 0 82px;
    background: url(https://2.downloader.disk.yandex.ru/disk/bd8b1239bc3ecf82aa699377f33a04c862529959b482f68538d10afbe70ff977/57079083/iXMe5V7I6KM1gQfmNMTN2dUDKmPincxwJ-IdsrCT0kELLTii8G_c95SYTjO8in-lX31DqaoIRhEiGIrJUfatyA%3D%3D?uid=0&filename=button-2972.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&fsize=1768&hid=2fb4d3f884848c8d13e3ec822b1d5b72&media_type=image&tknv=v2&etag=de99339d12e32638e0cffbb94f82a36f=no) no-repeat;
}

#submit3{
    height: 50px;
    width: 250px;
    outline: none;
    cursor: pointer;
    border:none;
    padding: 0 !important;
    margin: 0 82px;
    background: url(https://2.downloader.disk.yandex.ru/disk/6de5b7ab6750e4172bb8a9f6eb4917cdebc9d349bdfedbbb5221803d7d6a6874/57079227/iXMe5V7I6KM1gQfmNMTN2RWw-TCsDwa3bVVpUW8Q2OttYkGJrBqEaCY69YojwJt2QWwr9Tj4jrF0Mwb8YCHMwQ%3D%3D?uid=0&filename=button-8208.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&fsize=3182&hid=c41971b49221a57b4236c2ef8abb1d71&media_type=image&tknv=v2&etag=1297da0e96b6a4b890b512253b063207=no) no-repeat;
}

#submit4{
    height: 50px;
    width: 240px;
    outline: none;
    cursor: pointer;
    border:none;
    padding: 0 !important;
    margin: 0 82px;
    background: url(https://4.downloader.disk.yandex.ru/disk/6f043eb49aa392860aa4b5fcec6842a1b3029b26b3f008902ae3c146a159a5b6/57079245/iXMe5V7I6KM1gQfmNMTN2X50sTziCX__SRGV3XTmTMVmaKex41rVcrPQlKc9A-JEpw2AHju9D5h5ijLlodZUsw%3D%3D?uid=0&filename=buttovyn-2290.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&fsize=2471&hid=4c2f796d5d8a49824b84d52598d8bc38&media_type=image&tknv=v2&etag=78051cc469683f55e2e3fac803fff993=no) no-repeat;
}

#submit5{
    height: 50px;
    width: 240px;
    outline: none;
    cursor: pointer;
    border:none;
    padding: 0 !important;
    margin: 0 82px;
    background: url(https://1.downloader.disk.yandex.ru/disk/9f32bd10bb0f881a62cef4b4f64896b3b2bde10916316a66884b70da8821c971/5707bca5/ob8wBPa-e-070cRBF1gn9hp1wNAV9zgCNFqW1P4pCG3eE1UdGQrtQxgWiaUHfgRH5i-foVWtHvbiOhFQDgAgUw%3D%3D?uid=0&filename=button-2327.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&fsize=3080&hid=3e1c7ab7f7f9a7827e17f243a4c535e8&media_type=image&tknv=v2&etag=658d46ae1b7a1f754239a1429a926c5b=no) no-repeat;
}


#submit6{
    height: 50px;
    width: 240px;
    outline: none;
    cursor: pointer;
    border:none;
    padding: 0 !important;
    margin: 0 82px;
    background: url(https://4.downloader.disk.yandex.ru/disk/686b98c275f382eca20b310ddc061e0a27f02419d58dc41b9da5555643c00343/5707efce/ob8wBPa-e-070cRBF1gn9vsrLGrc0Bt0VJzC8OntxgpQJUBU5SIkxi9pFP0Wo3M2JHQDLSL-ZtyF60-uCxciMg%3D%3D?uid=0&filename=2434234.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&fsize=3620&hid=f4d52f32a019edb350c4971142fb5c38&media_type=image&tknv=v2&etag=51983c7db71d0a6cd1a44d873da0e3bd=no) no-repeat;
}