.logincontainer {
	text-align: center;
	margin: 80px auto;
}

.login {
	border: 1px solid #D6D6D6;
	background-color: #F7F7F7;
	text-align: right;
	padding: 60px 40px 20px 20px;
	width: 300px;
	height: 170px;
	margin: 10px auto;
}

#admin-section {
	padding: 10px 10px 10px 10px;
	text-align: center;
}